@font-face {
  font-family: 'FabricMDL2Icons';
  src: url("https://static2.sharepointonline.com/files/fabric/assets/icons/fabricmdl2icons.woff2?2.21") format("woff2"), url("https://static2.sharepointonline.com/files/fabric/assets/icons/fabricmdl2icons.woff?2.21") format("woff"), url("https://static2.sharepointonline.com/files/fabric/assets/icons/fabricmdl2icons.ttf?2.21") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.acd-designer-cardArea {
  flex: 1 1 70%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  box-sizing: border-box;
}

.acd-designer-host {
  margin: 20px 0;
  padding: 0 40px 0 20px;
}